# defaults
/.bundle/
/tmp/
Gemfile.lock

# testing
.rspec_status
/spec/reports/

# documentation & coverage
/.yardoc
/_yardoc/
/coverage/
/doc/
/docs/yard
/.coveralls.yml

# builds
/pkg/
/*.gem

# IDE related files
/.idea
/.ruby-version
/.bundle-version